<!DOCTYPE html>
<html><!--manifest="cache/wakkerdam.appcache"-->
	<head>
		{{template "_head.html" .Head}}
		<meta name="msvalidate.01" content="C5EE607265B07BD334D5AFE8A2F2E58E" />
	</head>
	<body>
		{{template "_header.html" .Active}}
		<div id="detail" class="container well">
			<div class="page-header">
				<h1>WitteWeerwolf.nl</h1>
			</div>
			<p>WitteWeerwolf.nl staat in het teken van het spel Weerwolven van Wakkerdam. Hier vind je speluitleg en de beschrijving van alle <a href="/rollen">rollen</a> die je met Weerwolven van Wakkerdam kan spelen.</p>
			<div class="page-header">
				<h1>Speel met ons mee</h1>
			</div>
			<p>Lijkt het je leuk om een avond mee te weerwolven. Elke maand organiseren we een weerwolven avond. Bekijk ons op <a target="_blank" href="https://www.meetup.com/Weerwolven-van-Nijmegen">meetup.com</a> voor meer informatie.</p>
			<div class="page-header">
				<h1>Weerwolven van Wakkerdam</h1>
			</div>
			<p>Weerwolven van Wakkerdam is een rollenspel voor 8 tot wel 47 spelers. De spelers worden ingedeeld in twee groepen: burgers en weerwolven. Het spel verloopt in een opeenvolging van dagen en nachten: Elke nacht slaan de weerwolven toe en eten een onschuldig burger op, overdag proberen de burgers de weerwolven te ontmaskeren en wordt er een bewoner gelyncht. De burgers proberen alle weerwolven uit te roeien en de weerwolven proberen alle onschuldige burgers op te eten.</p>

			<p>Weerwolven van Wakkerdam is op de Nederlandse markt uitgebracht door <a href="http://www.999games.nl/" target="_blank">999 Games</a>. Bekijk het huidige <a href="http://www.999games.nl/catalogsearch/result/?q=weerwolven+van+wakkerdam">assortiment</a> van 999 Games voor meer informatie over de verschillende edities van Weerwolven van Wakkerdam en waar deze te verkrijgen zijn.</p>
		</div>

	</body>

</html>