<!DOCTYPE html>
<html><!--manifest="cache/wakkerdam.appcache"-->
	{{template "_head.html" .Head}}
	<body>
		{{template "_header.html" .Active}}
		<div id="detail" class="container well">
			<div class="page-header">
				<h1>Weerwolven van Wakkerdam</h1>
			</div>
			<p>Weerwolven van Wakkerdam is een rollenspel voor 8 tot wel 47 spelers. De spelers worden ingedeeld in twee groepen: burgers en weerwolven. Het spel verloopt in een opeenvolging van dagen en nachten: Elke nacht slaan de weerwolven toe en eten een onschuldig burger op, overdag proberen de burgers de weerwolven te ontmaskeren en wordt er een bewoner gelyncht. De burgers proberen alle weerwolven uit te roeien en de weerwolven proberen alle onschuldige burgers op te eten.</p>

			<p>Weerwolven van Wakkerdam is op de Nederlandse markt uitgebracht door <a href="http://www.999games.nl/" target="_blank">999 Games</a>. Bekijk het huidige <a href="http://www.999games.nl/catalogsearch/result/?q=weerwolven+van+wakkerdam">assortiment</a> van 999 Games voor meer informatie over de verschillende edities van Weerwolven van Wakkerdam en waar je je eigen editie kan kopen.</p>

			<p>Bekijk <a href="/rollen">hier</a> alle karakters die je kan spelen</p>
		</div>

	</body>

</html>