body, html, h1, h2, h3 {
	margin: 0;
}

body {
	background-color: #ecf0f1;
}

h2 {
	padding: 25px 15px 15px 15px;
}

h3 {
	padding-top: 15px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.card {
	padding: 15px;
}

.card img {
	width: 100%;
	border: 10px;
}

.card a:hover img {
    border: solid 2px #CCC;
    -moz-box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
        box-shadow: 2px 2px 5px #999;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #34495e;
	background-image: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #f1f1f1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: #bdc3c7;
}

.well {
	background-image: none;
}

.prototype {
	display: none;
}